{% extends 'main/layout.html' %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="container h-100">
<div class="d-flex justify-content-center h-100" style="padding-top: 25vh;">
	<div class="user_card">
		<div class="d-flex justify-content-center">


			<h3 id="form-title">Login</h3>
		</div>
		<div class="d-flex justify-content-center form_container">
			<form method="POST" action="">
				{% csrf_token %}
				<div class="input-group mb-3">
					<div class="input-group-append">
						<span class="input-group-text"><i class="fas fa-user" style="height: 26px;"></i></span>
					</div>
					<input type="text" name="username" placeholder="Username..." class="form-control">
				</div>
				<div class="input-group mb-2">
					<div class="input-group-append">
						<span class="input-group-text"><i class="fas fa-key" style="height: 26px;"></i></span>
					</div>
						<input type="password" name="password" placeholder="Password..." class="form-control" >
				</div>

					<div class="d-flex justify-content-center mt-3 login_container">
						<input class="btn login_btn" type="submit" value="Login">
					</div>
			</form>
		</div>

		{% for message in messages %}
			<p id="messages" class="alert alert-warning">{{ message }}</p>
		{% endfor %} 
		<div class="linkedin-reg" style="background-color: #ade8ff;">
			<a href="{% url 'social:begin' 'linkedin-oauth2' %}" style="color: rgb(0, 0, 0);"><img src="https://cdn-icons-png.freepik.com/256/123/123718.png?semt=ais_hybrid" alt="LinkedIn" style="width: 22px;"> Login with LinkedIn</a>
		</div>
		<div class="linkedin-reg" style="background-color: #ffffff;">
			<a href="{% url 'social:begin' 'github' %}" style="color: rgb(0, 0, 0);"><img src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" alt="GitHub" style="width: 30px;"> Login with GitHub</a>
		</div>
		<div class="mt-4">
			<div class="d-flex justify-content-center links" style="color: white;">
				Don't have an account? <a href="{% url 'register' %}" style="margin-left: 8px; color: rgb(66, 66, 66);">Sign Up</a>
			</div>
			<div class="d-flex justify-content-center links" style="color: white;">or  <a href="{% url 'change_password_message' %}" style="margin-left: 10px; color: rgb(66, 66, 66);">change your password</a></div>
		</div>
	</div>
</div>
</div> 

{% endblock %}