{% extends 'main/layout.html' %}

{% block title %}Add Project{% endblock title %}

{% block content %}
<div style="margin-top: 65px; width: 100%;"> 
    <div class="row">
        <div style="height: 100px; width: 100%; background-color: rgb(219, 166, 146);">
            <h1 style="position: relative; top: 20px; left: 43%; color: white;">Add Project Form</h1>
        </div>
        <div class="container-add-project">
            <br><br><br>
            <form action="" method='POST' style="position: relative; margin-bottom: 180px;">
                {% csrf_token %}
                <div style="float: left;">
                    <div class="input-group mb-4">
                        <div class="">    
                            <span class="input-group-text material-symbols-outlined">Title</span>
                            <span style="font-size: 25px;">Title:</span>
                        </div>
                        {{form.title}}
                    </div>
                    <div class="input-group mb-4">
                        <div class="">
                            <span class="input-group-text material-symbols-outlined">Link</span>
                            <span style="font-size: 25px;">Link:</span>
                        </div>
                        {{form.url}}
                    </div>
                    <div class=" mb-4 block_">
                        <div class="" style="position: relative; ">
                            <span class="input-group-text material-symbols-outlined" style="float: left; margin-right: 10px;">Widgets</span>
                            <h5 style="font-size: 25px; width: 100%;">Enter your sets:</h5><br>
                        </div>
                        <div class="add-block-form">
                        {% for set in form.sets %}
                            {{ set }}
                            {% if forloop.counter|divisibleby:5 and not forloop.last %}
                                <span><br></span>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row" style="display: flex; min-height: 400px; margin-bottom: 25px; margin-top: 22px; padding-top: 22px; border: 2px solid rgb(197, 197, 197);">
                    <div class="mb-2 block_">
                        <div class="">
                            <span class="input-group-text material-symbols-outlined" style="float: left; margin-right: 10px;">Settings</span>
                            <h5 style="font-size: 25px; width: 100%;">Enter your technologies:</h5><br>
                        </div>
                        <div class="add-block-form">
                            {% for technology in form.technologies %}
                            {{ technology }}
                            {% if forloop.counter|divisibleby:5 %}
                                <span><br></span>
                            {% endif %}
                            {% endfor %}
                        </div> <br>
                        <div>
                            {{ form.new_technologies }}
                        </div>
                    </div>
                    <div class="mb-2 block_">
                        <div class="">
                            <span class="input-group-text material-symbols-outlined" style="float: left; margin-right: 10px;">Construction</span>
                            <h5 style="font-size: 25px; width: 100%;">Enter your industries:</h5><br>
                        </div>
                        <div class="add-block-form">
                        {% for industry in form.industries %}
                            {{ industry }}
                            {% if forloop.counter|divisibleby:5 and not forloop.last %}
                                <span><br></span>
                            {% endif %}
                            {% endfor %}
                        </div> <br>
                        <div style="padding-bottom: 20px;">
                            {{ form.new_industries }}
                        </div>
                    </div>
                </div>
                <div class="input-group mb-2">
                    <div class="">
                        <span class="input-group-text material-symbols-outlined">Description</span>
                    </div>
                    {{ form.description }}
                </div>
                
                <div class="input-group mb-5" style="position: relative; left: 45%;">
                    <div class="">
                        <span class="material-symbols-outlined">lock</span>
                    </div>
                    <h5 style="margin-right: 10px;">Private</h5> 
                    {{form.is_private}}
                </div>
                <button type="submit" class="btn btn-success btn-sm" style="position: relative; left: 37%; border: 2px solid rgb(255, 208, 208); background-color: rgb(255, 191, 155); color: rgb(255, 255, 255); height: 70px; width: 260px; font-size: 30px;" value=""> Save</button>
            </form>
        </div>
    </div>
</div>
<a href="/" class="btn btn-outline-secondary back-btn-sets">
    <span class="material-symbols-outlined back-btn">undo</span>
</a>
{% endblock content %}