{% extends 'main/layout.html' %}

{% block title %} Edit {% endblock %}

{% block content %}
<div class="container project-cont" style="position: relative; top: 200px; left: 10%;">
    <div class="row">
        <div class="col-md-12">
            <h1  style="font-size: 70px; margin-bottom: 50px;">Edit Set - {{ set.name }}</h1>
            
            <form action="" method='POST' style="left: 3%; position: relative;">
                {% csrf_token %}
                <div class="input-group mb-3" style="left: 3%;">
                    <div class="input-group-append">    
                        <span class="input-group-text material-symbols-outlined">Title</span>
                    </div>
                    {{form.name }}
                </div><br>
                <div class="input-group mb-2" style="left: 3%;">
                    <div class="input-group-append">
                        <span class="material-symbols-outlined">lock</span>
                    </div>
                    <h5 style="margin-right: 10px;">Private</h5> 
                    {{form.is_private}}
                </div>

                <button type="submit" class="btn btn-primary btn-sm" style="width: 90px; left: 3%; top: 10px; position: relative;" value=""> Save</button>
            </form>
            <form action="{% url 'delete-set' set.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" style="position: relative; top: 30px; left: 6%;">Delete</button>
            </form>
        </div>
    </div>
</div>
<a href="/" class="btn btn-outline-secondary back-btn-sets">
    <span class="material-symbols-outlined back-btn">undo</span>
</a>
{% endblock %}